body {
    padding-top: 70px;
}

#user-avatar {
    max-width: 24px;
}

.table > thead > tr > th {
    vertical-align: top;
    font-size: 90%;
}

.table > thead > tr.subth > th {
    font-weight: normal;
    font-size: 80%;
}