    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container-fluid">
            <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#airlift-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">
                <i class="fa fa-plane"></i>
                Airlift
            </a>
            <div class="collapse navbar-collapse navbar-toggleable-xs" id="airlift-navbar-collapse">
                <div class="nav navbar-nav">
                    <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#new-flight-modal"><i class="fa fa-lg fa-plus-square"></i> <span class="only">Add a flight</span></a>
                    <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#stats-modal"><i class="fa fa-lg fa-pie-chart"></i> <span class="only">Statistics</span></a>
                </div>
                <div class="nav navbar-nav pull-right">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button">
                            <img id="user-avatar" alt="" class="rounded-circle">
                            <span id="user-name"></span>
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
