  <div class="modal fade" role="dialog" id="new-flight-modal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form id="new-flight-form">
          <div class="modal-header">
            <h4 class="modal-title">
              <svg viewBox="0 0 20 20">
                <path d="M16,2H4C2.9,2,2,2.9,2,4v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4C18,2.9,17.1,2,16,2z M15,11h-4v4H9v-4H5V9h4V5h2v4h4V11z"/>
              </svg>
              New flight
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <fieldset class="form-group row">
              <label for="new-aircraft" class="col-sm-3 ml-auto">Aircraft</label>
              <div class="col-sm-7 mr-auto">
                <select class="form-control" id="new-aircraft" name="aircraft">
                  <option value="F-GDOG">F-GDOG (C152)</option>
                  <option value="F-GHVY">F-GHVY (C152)</option>
                  <option value="F-GSGO">F-GSGO (C152)</option>
                </select>
              </div>
            </fieldset>
            <fieldset class="form-group row">
              <label for="new-pilot-status" class="col-sm-3 ml-auto">Pilot status</label>
              <div class="col-sm-7 mr-auto">
                <select class="form-control" id="new-pilot-status" name="pilot-status">
                  <option value="pilot">Pilot-in-command</option>
                  <option value="copilot">Copilot</option>
                  <option value="student">Student</option>
                  <option value="instructor">Instructor</option>
                </select>
              </div>
            </fieldset>
            <fieldset class="form-group row">
              <label for="new-pilot-in-command" class="col-sm-3 ml-auto">Pilot-in-command</label>
              <div class="col-sm-7 mr-auto">
                <input type="text" class="form-control" id="new-pilot-in-command" name="pilot-in-command">
              </div>
            </fieldset>
            <fieldset class="form-group row">
              <label class="col-sm-3 ml-auto">Departure</label>
              <div class="col-sm-7 mr-auto">
                <div class="row">
                  <div class="col">
                    <input type="date" class="form-control" id="new-departure-date" name="departure-date" placeholder="Date (YYYY-MM-DD)" pattern="20[0-9]{2}-(0[1-9]|1[0-2])-([0-2][0-9]|3[01])">
                  </div>
                  <div class="col">
                    <input type="time" class="form-control" id="new-departure-time" name="departure-time" placeholder="Time (HH:MM)" pattern="([01][0-9]|2[0-3]):[0-5][0-9]">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" id="new-departure-place" name="departure-place" placeholder="Place (LFFF)" pattern="[A-Z]{4}">
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group row">
              <label class="col-sm-3 ml-auto">Arrival</label>
              <div class="col-sm-7 mr-auto">
                <div class="row">
                  <div class="col">
                    <input type="date" class="form-control" id="new-arrival-date" name="arrival-date" placeholder="Date (YYYY-MM-DD)" pattern="20[0-9]{2}-(0[1-9]|1[0-2])-([0-2][0-9]|3[01])">
                  </div>
                  <div class="col">
                    <input type="time" class="form-control" id="new-arrival-time" name="arrival-time" placeholder="Time (HH:MM)" pattern="([01][0-9]|2[0-3]):[0-5][0-9]">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" id="new-arrival-place" name="arrival-place" placeholder="Place (LFFF)" pattern="[A-Z]{4}">
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group row">
              <label class="col-sm-3 ml-auto">Landings</label>
              <div class="col-sm-7 mr-auto">
                <div class="row">
                  <label class="col-sm-3" for="new-landings-day">Day</label>
                  <div class="col-sm-3">
                    <input type="number" min="0" class="form-control" id="new-landings-day" name="landings-day" placeholder="0">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3" for="new-landings-night">Night</label>
                  <div class="col-sm-3">
                    <input type="number" min="0" class="form-control" id="new-landings-night" name="landings-night" placeholder="0">
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group row">
              <label class="col-sm-3 ml-auto">Remarks</label>
              <div class="col-sm-7 mr-auto">
                <textarea class="form-control" id="new-remarks" placeholder="Enter remarks here..."></textarea>
              </div>
            </fieldset>
          </div>
          <div class="modal-footer">
            <input type="reset" form="new-flight-form" class="btn btn-danger" data-dismiss="modal" value="Cancel" />
            <input type="submit" form="new-flight-form" class="btn btn-success" value="Save" />
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->