    <div class="card-columns">
      <div class="card bg-success" id="stats-total">
        <div class="card-body text-white">
          <h4 class="card-title">Total flight hours</h4>
        </div>
        <ul class="list-group list-group-flush text-black">
          <li class="list-group-item"><b data-stats="grand-total">0:00</b> total</li>
          <li class="list-group-item"><b data-stats="grand-pic">0:00</b> as pilot-in-command</li>
          <li class="list-group-item"><b data-stats="grand-dual">0:00</b> in dual</li>
        </ul>
      </div>
      <div class="card bg-info" id="stats-hours">
        <div class="card-body text-white">
          <h4 class="card-title">License renewal</h4>
        </div>
        <ul class="list-group list-group-flush text-black">
          <li class="list-group-item"><b data-stats="12m-total">0:00</b> total</li>
          <li class="list-group-item"><b data-stats="12m-pic">0:00</b> as pilot-in-command</li>
          <li class="list-group-item"><b data-stats="12m-dual">0:00</b> in dual</li>
          <li class="list-group-item"><b data-stats="12m-landings">0</b> landings</li>
        </ul>
      </div>
      <div class="card bg-info" id="stats-types">
        <h4 class="card-body text-white card-title">Types</h4>
        <ul class="list-group list-group-flush"></ul>
      </div>
      <div class="card bg-info" id="stats-aircraft">
        <h4 class="card-body text-white card-title">Aircrafts</h4>
        <ul class="list-group list-group-flush"></ul>
      </div>
    </div>