        <div class="card-columns">
            <div class="card card-inverse card-success" id="stats-total">
                <div class="card-block">
                    <h4 class="card-title">Flying time</h4>
                    <p class="card-text"><b class="h3" data-stats="grand-total">0</b></p>
                </div>
            </div>
            <div class="card card-inverse card-info" id="stats-hours">
                <div class="card-block">
                    <h4 class="card-title">Flying time in last 12 months</h4>
                    <p class="card-text">of license validity</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b data-stats="12m-total">0</b> total</li>
                    <li class="list-group-item"><b data-stats="12m-pic">0:00</b> as pilot-in-command</li>
                    <li class="list-group-item"><b data-stats="12m-dual">0:00</b> in dual</li>
                    <li class="list-group-item"><b data-stats="12m-landings">0</b> landings</li>
                </ul>
            </div>
            <div class="card card-inverse card-info" id="stats-types">
                <h4 class="card-block card-title">Types</h4>
                <ul class="list-group list-group-flush"></ul>
            </div>
            <div class="card card-inverse card-info" id="stats-aircraft">
                <h4 class="card-block card-title">Aircrafts</h4>
                <ul class="list-group list-group-flush"></ul>
            </div>
        </div>